.main {
    display: flex;
}

.main2 {
    display:flex;
    flex-flow: row wrap;
}

.placeCard {
    width:200px;
    height:300px;
    background:#897a8e;
    color:black;
    padding:5px;
    margin:5px;
    
}

h4 {
    font-size:12px;
}
.placeName {
    font-size:20px 
}

p {
    background: #cccaca;
    border-radius: 5px;
    padding:10px;
}

.placeDetails {
    height: 110px;
}

.deleteButton {
    float:right;
}